*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Value  */
.inter {
  font-family: "Inter", sans-serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
}
.primary-color {
    color: #4E47FF;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.description {
    color: #252432;
    opacity: 50%;
}
.btn {
    background-color: #4E47FF;
    border: none;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 800;
    color: white;
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: transparent;
    color: #4E47FF;
    border: 1px solid #4E47FF;
}
/* Header */
header {
    background-image: url(../Assets/Hero-bg.png);
}
.nav-bar {
    padding: 50px 150px;
    justify-content: space-between;
}
.nav-bar h1 {
    font-size: 34px;
    font-weight: 800;
}
.header-txt {
    flex-direction: column;
    margin: 100px 0 0 0;
}
.header-txt h1 {
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 37px;
    color: #252432;
}
.btn-header {
    margin-bottom: 100px;
}
/* header Closed  */

/* Action Section  */
.action-section {
    padding: 116px 130px;
    justify-content: space-between;
    gap: 200px;
}
.action-content h1 {
    font-size: 48px;
    font-weight: 800;
}
.action-content p {
    font-size: 24px;
    margin: 23px 0;
}
.image img {
    height: auto;
    width: 400px;
    border-radius: 48px;
}